@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
	line-height: 1.5;
	background-color: var(--body-color);
	font-family: 'Josefin Sans', sans-serif;
	overflow-x: hidden;
}

body.hidden-scrolling {
	overflow-y: hidden;
}

* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #e9e9e9;
	--hover-color: #2764BA;
	--body-color: #ffffff;
	--box-color: white;
	--text-color: #554e8e;
	--women-background: #f5e6e1;
}

.container {
	margin: auto;
}

ul {
	line-height: 5vh;
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.img-slider {
	position: relative;
	width: 100%;
	height: 570px;
	background: #f5e6e1;
}

.img-slider .slide {
	z-index: -1;
	position: absolute;
	width: 100%;
}

.img-slider .slide.active {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.img-slider .slide .slide-img {
	z-index: 1;
	height: 570px;
	position: absolute;
	right: 2vh;
	transition: 0.5s;
}

.img-slider .slide .info {
	position: absolute;
	top: 200px;
	z-index: 3;
	text-transform: capitalize;
	padding: 15px 30px 15px 99px;
}

.img-slider .slide .info h2 {
	color: #df8471;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 4px;
	font-family: 'Arsenal', sans-serif;
}

.img-slider .slide .info h2::before {
	content: "";
	position: absolute;
	width: 9%;
	height: 2px;
	top: 48px;
	left: 0;
	background-color: #df8471;
}

.img-slider .slide .info p {
	color: #ff1e1e;
	font-size: 16px;
	width: 60%;
	padding: 10px;
	border-radius: 4px;
}

.img-slider .navigation {
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 30px;
	left: 50%;
	align-items: center;
	transform: translateX(-50%);
}

.img-slider .navigation .btn {
	background: rgba(200, 200, 200, 0.5);
	width: 9px;
	height: 9px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.img-slider .navigation .btn.active {
	background: transparent;
	width: 16px;
	height: 16px;
	border: 1px solid #c8c8c8;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.collection-section {
	width: 100%;
}

.collection {
	margin: 2.5% 1%;
	width: 98%;
	display: flex;
}

.part1 {
	width: 65%;
	margin: 0 1%;
}

.part2 {
	display: inline-block;
	width: 32.5%;
	margin: 0 1%;
}

#card {
	position: relative;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	grid-auto-columns: auto;
}

.main-collection-title {
	position: absolute;
	bottom: 6vh;
	text-transform: uppercase;
	left: 4%;
	font-size: 1.2rem;
}

.main-collection-title span {
	font-size: 2rem;
	font-weight: 600;
}


.collection-img {
	position: inherit;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.cta {
	border: none;
	background: none;
	position: absolute;
	bottom: 3vh;
	left: 4%;
}

.cta span {
	padding-bottom: 7px;
	letter-spacing: 4px;
	font-size: 1rem;
	font-weight: 900;
	padding-right: 15px;
	text-transform: uppercase;
}

.cta svg {
	transform: translateX(-8px);
	transition: all 0.3s ease;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active svg {
	transform: scale(0.9);
}

.hover-underline-animation {
	position: relative;
	color: black;
	height: 2px;
	width: 20%;
	padding-bottom: 10px;
}

.hover-underline-animation::before {
	content: "";
	position: absolute;
	width: 33%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.trending-section {
	width: 96%;
	margin: 4%;
	display: flow-root;
	position: relative;
}

.trending-section-name {
	font-size: 7vh;
	text-align: center;
	font-weight: 100;
}

.trending-section-name span {
	font-weight: 900;
}

.trending-tab-bar {
	display: flex;
	justify-content: space-evenly;
}

.trending-tab-bar-name {
	text-transform: capitalize;
	border: none;
	outline: none;
	color: #9c9c9c;
	background: transparent;
	font-size: 40px;
	padding: 4px;
	cursor: pointer;
}

#trendingBtn1 {
	color: #000;
}

.alltrendingsection {
	display: flex;
}

.tending-card-section {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: none;
	flex-wrap: wrap;
	transition: 0.5s;
	min-width: 100%;
	min-height: 100%;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-left: calc(-1*var(--layout-indent__width));
	margin-right: calc(-1*var(--layout-indent__width));
}

#trendingWomenPage {
	display: flex;
}

.trending-card {
	height: auto;
	width: 260px;
	margin: 2%;
	position: relative;
}

.trending-card-img {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
}

.trending-card-detail {
	position: inherit;
	bottom: 0;
	left: 0;
	width: 100%;
}

.price-and-color {
	display: flex;
	height: 15px;
	justify-content: space-between;
	width: auto;
}

.trending-color-btn {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

#card-color1 {
	background: rgb(221 209 187);
}

#card-color2 {
	background: rgb(250 242 103);
}

#card-color3 {
	background: rgb(3 44 46);
}

#card-color4 {
	background: rgb(250 158 176);
}

#card-color5 {
	background: rgb(232 224 210);
}

#card-color6 {
	background: rgb(242 0 69);
}

#card-color7 {
	background: rgb(245 216 246);
}

#card-color8 {
	background: rgb(253 139 109);
}

#card-color9 {
	background: rgb(230 175 144);
}

#card-color10 {
	background: rgb(108 9 17);
}

#card-color11 {
	background: rgb(198 208 184);
}

#card-color12 {
	background: rgb(4 19 21);
}

#card-color13 {
	background: rgb(250 181 62);
}

#card-color14 {
	background: rgb(78 142 189);
}

#card-color15 {
	background: rgb(187 229 243);
}

#card-color16 {
	background: rgb(250 158 176);
}


#card-color2-1 {
	background: rgb(253 139 109);
}

#card-color2-2 {
	background: rgb(230 175 144);
}

#card-color2-3 {
	background: rgb(108 9 17);
}

#card-color2-4 {
	background: rgb(198 208 184);
}

#card-color2-5 {
	background: rgb(4 19 21);
}

#card-color2-6 {
	background: rgb(250 181 62);
}

#card-color3-1 {
	background: rgb(78 142 189);
}

#card-color3-2 {
	background: rgb(187 229 243);
}

#card-color3-3 {
	background: rgb(250 158 176);
}

#card-color3-4 {
	background: rgb(250 158 176);
}

.trending-card-title-name {
	color: #000000;
	font-weight: 100;
	text-transform: capitalize;
}

.price-trending {
	color: #9c9c9c;
	font-size: 15px;
}

.footer {
	background-color: #e4e4e4;
	border-top: 2px solid #000;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.footer-all-part {
	margin-top: 7%;
	display: flex;
	flex-wrap: wrap;
}

.footer-part1 {
	width: 40%;
	height: auto;
}

.footer-img {
	width: 50%;
}

.footer-address,
.footer-email,
.footer-number {
	font-size: 2vh;
}

.footer-link {
	display: flex;
}

/* responsive */
@media(max-width: 991px) {
	body {
		overflow-x: hidden;
	}

	.collection {
		display: block;
	}

	.part1,
	.part2 {
		width: 98%;
	}

	.main-collection-title span {
		font-size: 35px;
		line-height: 35px;
	}

	.main-collection-title {
		font-size: 12px;
		width: 50%;
	}

	.trending-section {
		margin: 0 2%;
	}

	.trending-section-name {
		font-size: 25px;
		padding-top: 13px;
	}

	.trending-tab-bar-name {
		font-size: 15px;
	}

	.trending-tab-bar {
		justify-content: space-around;
		padding: 20px 0;
	}

	.tending-card-section {
		left: 0;
	}

	.trending-card {
		width: 40%;
		margin: 5%;
	}
}

@media (max-width: 820px) {
	.img-slider {
		width: 100%;
		height: 65vh;
	}

	.img-slider .slide .info {
		padding: 10px 25px;
	}

	.img-slider .slide .info h2 {
		font-size: 35px;
	}

	.img-slider .slide .info p {
		width: 70%;
		font-size: 15px;
	}

	.img-slider .navigation {
		bottom: 25px;
	}

	.img-slider .navigation .btn {
		width: 10px;
		height: 10px;
		margin: 8px;
	}

	.img-slider .slide .slide-img {
		height: 45vh;
		right: 0;
		margin-top: 15vh;
	}
}

@media (max-width: 620px) {
	.img-slider {
		width: 100%;
		height: 65vh;
	}

	.img-slider .slide .info {
		padding: 10px 20px;
	}

	.img-slider .slide .info h2 {
		font-size: 30px;
	}

	.img-slider .slide .info p {
		width: 80%;
		font-size: 13px;
	}

	.img-slider .navigation {
		bottom: 15px;
	}

	.img-slider .navigation .btn {
		width: 8px;
		height: 8px;
		margin: 6px;
	}

	.img-slider .slide .slide-img {
		height: 45vh;
		right: 0;
		margin-top: 15vh;
	}
}

@media (max-width: 420px) {
	.img-slider {
		width: 100%;
		height: 65vh;
		margin-bottom: 8vh;
	}

	.img-slider .slide .slide-img {
		height: 45vh;
		right: 0;
		margin-top: 20vh;
	}

	.img-slider .slide .info {
		top: 8vh;
		padding: 15px 30px 15px 59px;
	}

	.img-slider .slide .info h2 {
		font-size: 40px;
	}

	.img-slider .slide .info p {
		width: 90%;
		display: none;
		font-size: 11px;
	}

	.img-slider .navigation {
		bottom: 10px;
	}

	.img-slider .navigation {
		left: 15%;
	}

	.img-slider .slide .info h2::before {
		width: 13%;
		top: 44px;
	}

	
}